body {
  margin: 0;
  padding: 0;
  background-image: url("/img/background.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: #292929;
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 20pt;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 11pt;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 20px 0 0 0;
  margin: 0;
}

h2:first-child {
  padding-top: 8pt;
}

h3 {
  font-style: italic;
  font-weight: 300;
  font-size: 10pt;
  line-height: 1.4;
  padding: 3px 0 0 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  color: #292929;
}

a:hover {
  text-decoration: none;
  color: green;
}

a:hover img {
  opacity: 0.7;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

strong {
  font-style: normal;
  font-weight: 700;
}

nav ul {
  font-style: normal;
  font-weight: 300;
  font-size: 8pt;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  position: fixed;
  z-index: 2000;
  background-color: #292929;
}

nav li {
  display: inline;
  font-style: normal;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0 1rem;
  text-transform: uppercase;
}

nav li a {
  font-weight: 500;
  color: #fbf3e8;
}

nav li a:hover {
  color: green;
}

.logo {
  width: 100%;
  mix-blend-mode: multiply;
  padding: 30% 0 20%;
  margin: 0;
}

.logo img {
  mix-blend-mode: multiply;
  display: block;
  margin: auto;
  width: 80%;
}

.logo p {
  font-style: normal;
  font-size: 13pt;
  line-height: 1.4;
  font-weight: 300;
  text-decoration: none;
  padding: 0 4rem;
}

.hours {
  margin: -25px auto 5% auto;
  border: 1px solid #292929;
  padding: 20px;
  width: 240px;
}

.hours p {
  margin: 1rem 0;
}

.hours h1 {
  line-height: 1.8;
}

.closures {
  margin: 60px auto 20px;
  padding: 0 0 20px;
  width: 240px;
}

.closures h1 {
  font-size: 12pt;
  line-height: 1;
  margin: 0;
  padding-bottom: 0;
}

.closures h2 {
  font-size: 10pt;
  line-height: 1.8;
  margin: 0;
  padding-top: 0.8rem;
}

.closures p {
  font-size: 9pt;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  border-top: 8px solid #292929;
}

.clip {
  margin: 20px auto -8px;
  padding: 0;
  max-width: 95%;
}

.menu ul {
  font-style: normal;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.3;
  padding-bottom: 30px;
}

.menu ul li {
  font-style: normal;
  font-weight: 300;
  font-size: 10pt;
  line-height: 1.4;
  margin: 0;
  padding: 6px 0 0 0;
}

.menu ul span.name {
  font-weight: 700;
}

.menu ul span.price {
  font-style: normal;
  font-weight: 700;
  font-size: 9pt;
}

.menu ul span.cocktail-prep {
  font-style: italic;
}

section {
  padding-top: 60px;
}

.menu {
  padding: 0 30px;
}

address {
  font-size: 14pt;
  line-height: 1.4;
  font-style: normal;
  padding: 0 20px;
}

address .name {
  font-size: 18pt;
  text-transform: uppercase;
}

.contact {
  margin: 0 auto;
  line-height: 1.8;
}

.contact p.directions {
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.contact p.directions a {
  font-weight: 700;
}

.social-media {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media ul {
  padding: 20px 0 0 0;
  margin: 0;
}

.social-media li {
  padding: 0;
  margin: 0;
  display: inline;
}

.social-media img {
  width: 30px;
  padding: 0;
  margin: 0;
}

.top {
  width:  50px;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  position: fixed;
  border: 1px solid #292929;
  display: block;
  color: #000;
  text-align:center;
  padding: 10px 0 10px 0;
}

.top a {
  text-decoration: none;
  padding: 20px 0 0 0;
}


/* Large screens
--------------------------------------------- */

@media only screen and (min-width:420px) {

  h1 {
    font-size: 22pt;
  }

  h2 {
    font-size: 13pt;
  }

  h3 {
    font-size: 12pt;
    padding-top: 2px;
  }

  .social-media {
    margin-bottom: 20px;
  }

  nav li {
    font-size: 12pt;
  }

  .logo {
    padding-top: 20%;
  }

  .logo img {
    width: 60%;
  }

  section {
    padding-top: 70px;
  }

  .hours {
    margin-top: -400px;
    margin-bottom: 0;
    width: 300px;
  }

  .closures {
    margin: 100px auto;
    width: 300px;
  }

  .closures h1 {
    font-size: 17pt;
  }

  .closures h2 {
    font-size: 13pt;
  }

  .closures p {
    font-size: 12pt;
  }

  .menu ul {
    font-size: 13pt;
  }

  .menu ul li {
    font-size: 12pt;
    padding-top: 10px;
  }

  .menu ul span.price {
    font-size: 10pt;
  }

}


#giftcards {
  position: relative;
  z-index: 1;
  margin: 20px auto;
}

.btn-giftcard {
  display: inline-block;
  background-color: #292929;
  color: #fbf3e8;
  padding: 12px 24px;
  border: none;
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  font-size: 10pt;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-giftcard:hover {
  color: #fbf3e8;
  opacity: 0.8;
}